<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsnipp.loginsamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Task.AddingTaskActivity"></activity>
        <activity android:name=".Attendance.AttendanceActivity" />
        <activity android:name=".Personal_Information.ProfileActivity" />
        <activity android:name=".Task.TaskActivity" />
        <activity android:name=".Project.ProjectActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".CHAT.ChatActivity"
            android:theme="@style/Material" />
        <activity android:name=".CHAT.ChatBoxActivity" />
        <activity android:name=".LOGIN.RegisterActivity" />
        <activity android:name=".LOGIN.LoginActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>